{%- liquid
  assign adaText = image.alt
  if text != blank and text != '<p></p>'
    assign hasText = true
    assign adaText = text | strip_html
  endif 
  if cta != blank
    assign hasCta = true
    assign ctaStyle = ctaStyle | default: 'btn' 
  endif
  assign textShadow = textShadow | default: true, allow_false: true
  assign textPosition = textPosition | default: 'inside' 
  assign textAlign = textAlign | default: 'left' 
  assign colorScheme = colorScheme | default: 'scheme-1' | append: ''
-%}
{%- if imageLink != blank -%}<a href="{{imageLink}}" {% if imageLink contains 'http' %}target="_blank"{% endif %}>{%- endif -%}
<span class="visually-hidden">{{ adaText }}</span>
<div class="img-simple-overlay scheme color-{{colorScheme}} {% if colorScheme == 'scheme-1' %}same-scheme{% endif %} text-{{textAlign}}" aria-hidden="true">
  <img class="lazyload" data-sizes="auto" alt="{{image.alt}}" src="{% render 'image_placeholder', image: image %}" data-srcset="{% render 'lazy_src', image: image %}"  width="{{ image.width }}" height="{{ image.height }}" {% if image.presentation.focal_point != blank %}style="object-position: {{image.presentation.focal_point}};"{% endif %}>
  {%- if hasText or hasCta -%}
    <div class="caption shadow-{{textShadow}} position-{{textPosition}} p4">
      {%- if hasText -%}
        {{text}}
      {%- endif -%}
      {%- if hasCta -%}
        {%- assign linkIcon = blank -%}
        {%- if ctaStyle contains 'link' and settings.links_arrow != 'none' -%}
          {%- capture linkIcon -%}{%- render 'icons', icon: settings.links_arrow -%}{%- endcapture -%}
        {%- endif -%}
        <div class="cta {{ctaStyle}} smaller">
          {{ cta }}{{linkIcon}}
        </div>
      {%- endif -%}
    </div>
  {%- endif -%}
</div>
{%- if imageLink != blank -%}</a>{%- endif -%}