<style>
  .password-form .form-wrap {position: relative; width: 100%;}
  .password-form input[type="email"] {width: 100%; padding-right: 3em}
  .richtext-wrap .password-form .btn-wrap .btn {margin-top: 0;}
  .password-form button.arrow {position: absolute; right: 0; top: 0; height: 100%; padding: 0 var(--fields-padding-horizontal); display: flex; align-items: center;}
  .password-form button.arrow svg {position: static; transform: none;}
</style>
<div class="password-form">
  {%- capture submitCta -%}
    {%- assign submitLabel = block.settings.submit_label | default: 'Subscribe' -%}
    <button class="{{block.settings.submit_style}}" type="submit" aria-label="{{submitLabel}}">
      {%- if block.settings.submit_style == 'btn' -%}
        {{submitLabel}}
      {%- else -%}
        {%- render 'icons', icon: settings.newsletter_icon -%}
      {%- endif -%}
    </button>
  {%- endcapture -%}
  {%- form 'storefront_password' -%}
    <div class="form-wrap">
      <div class="error-msg" aria-live="assertive">{{ form.errors | default_errors }}</div>
      <div class="field">
        <input type="text" placeholder="{{ block.settings.field_label }}" name="password" id="password">
        <label for="email-{{block.id}}">{{ block.settings.field_label }}</label>
        {%- if block.settings.submit_style == 'arrow' -%}
          {{submitCta}}
        {%- endif -%}
      </div>
      {%- if block.settings.submit_style == 'btn' -%}
        <div class="btn-wrap">
          {{submitCta}}
        </div>
      {%- endif -%}
    </div>
  {%- endform -%}
</div>