<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    <meta name="robots" content="noindex, nofollow" />

    <title>{{shop.name}} | Coming soon</title>

    {%- render 'layout_common_scripts' -%}

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 100, height: 100 }}">
    {%- endif -%}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'keen_slider.css' | asset_url | stylesheet_tag }}

    <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>
    <script src="{{ 'tingle.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>

    {{content_for_header}}
  </head>
  <body>
    {{content_for_layout}}
    <script>
      window.breakpoints = {
        small: '{{settings.breakpoint_mobile}}',
        medium: '{{settings.breakpoint_tablet}}'
      };
    </script>
  </body>
</html>