{%- liquid 
  assign disableLazySizes = false
  if section.index == 1 
    assign disableLazySizes = true
  endif
-%}

<style>
  #shopify-section-{{ section.id }} {
    --overlay-color: {{section.settings.overlay_color}};
  }
</style>
{{ 'component_before_after.css' | asset_url | stylesheet_tag }}
<script src="{{ 'component_before_after.js' | asset_url }}" defer="defer"></script>
{%- capture imageColumnHtml -%}
  <div class="media-wrap">
    <before-after class="media">
      <img alt="{{section.settings.image.alt}}" class="img {% unless disableLazySizes %}lazyload{% endunless %}" data-sizes="auto" src="{% render 'image_placeholder', image: section.settings.image %}" {% if disableLazySizes %}fetchpriority="high" {% else %}data-{% endif %}srcset="{% render 'lazy_src', image: section.settings.image %}" width="{{ section.settings.image.width }}" height="{{ section.settings.image.height }}" {% if section.settings.image.presentation.focal_point != blank %}style="object-position: left {{section.settings.image.presentation.focal_point | split: ' ' | last}};"{% endif %} />
      <img alt="{{section.settings.image_2.alt}}" class="img img2 {% unless disableLazySizes %}lazyload{% endunless %}" data-sizes="auto" src="{% render 'image_placeholder', image: section.settings.image_2 %}" {% if disableLazySizes %}fetchpriority="high" {% else %}data-{% endif %}srcset="{% render 'lazy_src', image: section.settings.image_2 %}" width="{{ section.settings.image_2.width }}" height="{{ section.settings.image_2.height }}" {% if section.settings.image_2.presentation.focal_point != blank %}style="object-position: right {{section.settings.image_2.presentation.focal_point | split: ' ' | last}};"{% endif %} />
      <div class="captions">
        <span class="caption1">{{section.settings.caption1}}</span>
        <span class="caption2">{{section.settings.caption2}}</span>
      </div>
      <div class="custom-separator">
        {% render 'icons', icon: 'chevron-left' %}
        {% render 'icons', icon: 'chevron-right' %}
      </div>
      <input class="slider" type="range" min="0" max="100" step="0.1" value="{{section.settings.initial_position}}" aria-label="{{section.settings.caption1}}, {{section.settings.caption2}}" />
    </before-after>
  </div>
{%- endcapture -%}

{%- capture contentHtml -%}
  {%- render 'richtext_content', section: section -%}
{%- endcapture -%}

{%- render 'section_image_text_structure', section: section,  textColumnHtml: contentHtml, imageColumnHtml: imageColumnHtml, imagePlaceholder: true -%}

{% schema %}
  {
    "name": "Before & After",
    "class": "type-before-and-after",
    "tag": "section",
    "presets": [
      {
        "name": "Before & After",
        "blocks": [
          {
            "type": "content_text",
            "settings": {
              "text": "<p>Eyebrow</p>",
              "text_style": "subheading"
            }
          },
          {
            "type": "content_title"
          },
          {
            "type": "content_text"
          },
          {
            "type": "content_button"
          }
        ]
      }
    ],
	  "settings": [
      {
        "type": "header",
        "content": "Before & After content"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image 1"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image 2"
      },
      {
        "type": "range",
        "id": "initial_position",
        "min": 0,
        "max": 100,
        "step": 1,
        "label": "Slider starting position",
        "default": 80
      },
      {
        "type": "text",
        "id": "caption1",
        "label": "Caption 1",
      	"default": "Before"
      },
      {
        "type": "text",
        "id": "caption2",
        "label": "Caption 2",
      	"default": "After"
      },
      {
        "type": "color",
        "id": "overlay_color",
        "label": "Image elements color",
        "alpha": true,
      	"default": "#808080"
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color_scheme",
        "id": "section_color_scheme",
        "label": "Section color scheme",
        "default": "scheme-1",
        "info": "Only visible when the section is not full width, or the section top/bottom paddings are enabled."
      },
      {
        "type": "color_scheme",
        "id": "content_color_scheme",
        "label": "Content color scheme",
        "default": "scheme-1"
      },
      {
        "type": "header",
        "content": "Media Settings"
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "Position (Desktop)",
        "options": [
          {"value": "normal", "label": "Left"},
          {"value": "row-reverse", "label": "Right"}
        ],
        "default": "row-reverse"
      },
      {
        "type": "select",
        "id": "image_position_mobile",
        "label": "Position (Mobile)",
        "options": [
          {"value": "normal", "label": "Top"},
          {"value": "column-reverse", "label": "Bottom"}
        ],
        "default": "normal"
      },
      {
        "type": "range",
        "id": "image_width",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Width (Desktop)",
        "default": 50
      },
      {
        "type": "range",
        "id": "image_border_radius",
        "min": 0,
        "max": 10,
        "step": 0.2,
        "unit": "em",
        "label": "Border radius (Desktop)",
        "default": 0
      },
      {
        "type": "range",
        "id": "image_border_radius_mobile",
        "min": 0,
        "max": 10,
        "step": 0.2,
        "unit": "em",
        "label": "Border radius (Mobile)",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "image_padding",
        "label": "Padding"
      },
      {
        "type": "header",
        "content": "Text Settings"
      },
      {
        "type": "range",
        "id": "text_width",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "em",
        "label": "Width",
        "default": 50
      },
      {
        "type": "select",
        "id": "text_position",
        "label": "Position (Desktop)",
        "options": [
          {"value": "start", "label": "Left"},
          {"value": "center", "label": "Center"},
          {"value": "end", "label": "Right"}
        ],
        "default": "start",
        "info": "Within the Text column"
      },
      {
        "type": "select",
        "id": "text_align",
        "label": "Alignment (Desktop)",
        "options": [
          {"value": "left", "label": "Left"},
          {"value": "center", "label": "Center"},
          {"value": "right", "label": "Right"}
        ],
        "default": "left"
      },
      {
        "type": "select",
        "id": "text_position_mobile",
        "label": "Position (Mobile)",
        "options": [
          {"value": "start", "label": "Left"},
          {"value": "center", "label": "Center"},
          {"value": "end", "label": "Right"}
        ],
        "default": "start",
        "info": "Within the Text column"
      },
      {
        "type": "select",
        "id": "text_align_mobile",
        "label": "Alignment (Mobile)",
        "options": [
          {"value": "left", "label": "Left"},
          {"value": "center", "label": "Center"},
          {"value": "right", "label": "Right"}
        ],
        "default": "left"
      },
      {
        "type": "range",
        "id": "text_border_radius",
        "min": 0,
        "max": 10,
        "step": 0.2,
        "unit": "em",
        "label": "Border radius (Desktop)",
        "default": 0
      },
      {
        "type": "range",
        "id": "text_border_radius_mobile",
        "min": 0,
        "max": 10,
        "step": 0.2,
        "unit": "em",
        "label": "Border radius (Mobile)",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section Settings"
      },
      {
        "type": "select",
        "id": "content_vertical_alignment",
        "label": "Content vertical alignment (Desktop)",
        "options": [
          {"value": "start", "label": "Top"},
          {"value": "center", "label": "Center"},
          {"value": "end", "label": "Bottom"}
        ],
        "default": "center"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full width (Desktop)",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "full_width_mobile",
        "label": "Full width (Mobile)",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "column_gap",
        "label": "Column gap"
      },
      {
        "type": "checkbox",
        "id": "text_overlaps_media",
        "label": "Text overlaps media",
        "default": false
      },
      {
        "type": "header",
        "content": "Padding Desktop"
      },
      {
        "type": "range",
        "id": "text_padding",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "Inner padding (Desktop)",
        "default": 100
      },
      {
        "type": "range",
        "id": "section_padding_top",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "Outer padding top (Desktop)",
        "default": 0
      },
      {
        "type": "range",
        "id": "section_padding_bottom",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "Outer padding bottom (Desktop)",
        "default": 0
      },
      {
        "type": "header",
        "content": "Padding Mobile"
      },
      {
        "type": "range",
        "id": "text_padding_mobile",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "Inner padding (Mobile)",
        "default": 100
      },
      {
        "type": "range",
        "id": "section_padding_top_mobile",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "Outer padding top (Mobile)",
        "default": 0
      },
      {
        "type": "range",
        "id": "section_padding_bottom_mobile",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "Outer padding bottom (Mobile)",
        "default": 0
      }
    ],
    "blocks": [
      {
        "type": "content_title",
        "name": "Title",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Lorem ipsum dolor"
          },
          {
            "type": "checkbox",
            "id": "is_h1",
            "label": "This is the first title of the page (H1)"
          },
          {
            "type": "range",
            "id": "title_size",
            "min": -1,
            "max": 6,
            "step": 1,
            "unit": "h",
            "label": "Title size",
            "default": 1,
            "info": "Equivalent to the heading tags: 6 = <h6> (smallest), 1 = <h1> (largest), 0 and -1 are even larger."
          }
        ]
      },
      {
        "type": "content_text",
        "name": "Text",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Lorem ipsum dolor sit amet, consectur adipiscing elit. Nunc eu eros augue. Cras tempus finibus mi, at aliquet orci vestibulum sit amet.</p>"
          },
          {
            "type": "select",
            "id": "text_style",
            "label": "Text style",
            "options": [
              {"value": "normal","label": "Body"},
              {"value": "subheading","label": "Subheading"},
              {"value": "small-label","label": "Small label"}
            ],
            "default": "normal"
          },
          {
            "type": "range",
            "id": "text_size",
            "min": 1,
            "max": 5,
            "step": 1,
            "unit": "p",
            "label": "Text size",
            "default": 3
          }
        ]
      },
      {
        "type": "content_button",
        "name": "Button",
        "settings": [
          {
            "type": "header",
            "content": "Primary Button"
          },
          {
            "type": "text",
            "id": "button",
            "label": "Button",
            "default": "Button"
          },
          {
            "visible_if": "{{ block.settings.button != blank }}",
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "visible_if": "{{ block.settings.button != blank }}",
            "type": "select",
            "id": "cta_style",
            "label": "Style",
            "options": [
                {"value": "link", "label": "Link"},
                {"value": "btn", "label": "Button"},
                {"value": "btn v2", "label": "Button V2"}
            ],
            "default": "btn"
          },
          {
            "type": "header",
            "content": "Secondary Button"
          },
          {
            "type": "text",
            "id": "button_2",
            "label": "Button"
          },
          {
            "visible_if": "{{ block.settings.button_2 != blank }}",
            "type": "url",
            "id": "link_2",
            "label": "Link"
          },
          {
            "visible_if": "{{ block.settings.button_2 != blank }}",
            "type": "select",
            "id": "cta_style2",
            "label": "Style",
            "options": [
                {"value": "link", "label": "Link"},
                {"value": "btn", "label": "Button"},
                {"value": "btn v2", "label": "Button v2"}
            ],
            "default": "btn v2"
          }
        ]
      },
      {
        "type": "content_badge",
        "name": "Badge",
        "settings": [
          {
            "type": "text",
            "id": "badge",
            "label": "Badge",
            "default": "Limited"
          },
          {
            "visible_if": "{{ block.settings.badge != blank }}",
            "type": "select",
            "id": "style",
            "label": "Style",
            "options": [
              {"value": "pill", "label": "Pill"},
              {"value": "round", "label": "Round"}
            ],
            "default": "pill"
          }
        ]
      },
      {
        "type": "accordion_item",
        "name": "Accordion",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Lorem ipsum dolor sit amet?"
          },
          {
            "type": "range",
            "id": "title_size",
            "min": 1,
            "max": 3,
            "step": 1,
            "unit": "p",
            "label": "Title size",
            "default": 2,
            "info": "1 = larger. 2 = normal. 3 = smaller."
          },
          {
            "type": "select",
            "id": "title_style",
            "label": "Title style",
            "options": [
              {"value": "normal","label": "Body"},
              {"value": "heading-font","label": "Heading"},
              {"value": "subheading","label": "Subheading"},
              {"value": "small-label","label": "Small label"}
            ],
            "default": "normal"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Text",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut tellus nec mi tincidunt imperdiet eget vitae sapien. Integer massa velit, commodo at magna eget, semper vehicula quam. Morbi laoreet tellus at neque blandit, eu congue sem congue. Mauris dapibus est ut ipsum malesuada tincidunt. Curabitur tempus commodo suscipit. Sed eu blandit urna, at porttitor ligula. In maximus lobortis tellus.</p>"
          },
          {
            "type": "range",
            "id": "text_size",
            "min": 1,
            "max": 5,
            "step": 1,
            "unit": "p",
            "label": "Text size",
            "default": 3
          },
          {
            "type": "checkbox",
            "id": "accordion_border_top",
            "label": "Border Top",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "accordion_border_bottom",
            "label": "Border Bottom",
            "default": true
          },
          {
            "type": "header",
            "content": "Image next to title"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "visible_if": "{{ block.settings.image != blank }}",
            "type": "range",
            "id": "image_width",
            "min": 0,
            "max": 5,
            "step": 0.5,
            "unit": "em",
            "label": "Width",
            "default": 2
          },
          {
            "visible_if": "{{ block.settings.image != blank }}",
            "type": "range",
            "id": "image_border_radius",
            "min": 0,
            "max": 10,
            "step": 0.2,
            "unit": "em",
            "label": "Border radius",
            "default": 0
          },
          {
            "visible_if": "{{ block.settings.image != blank }}",
            "type": "checkbox",
            "id": "image_border",
            "label": "Border"
          }
        ]
      },
      {
        "type": "content_image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "visible_if": "{{ block.settings.image != blank }}",
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "visible_if": "{{ block.settings.image != blank }}",
            "type": "range",
            "id": "width",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Width (Desktop)",
            "default": 50
          },
          {
            "visible_if": "{{ block.settings.image != blank }}",
            "type": "range",
            "id": "width_mobile",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Width (Mobile)",
            "default": 100
          },
          {
            "visible_if": "{{ block.settings.image != blank }}",
            "type": "range",
            "id": "border_radius",
            "min": 0,
            "max": 10,
            "step": 0.2,
            "unit": "em",
            "label": "Border radius",
            "default": 0
          },
          {
            "visible_if": "{{ block.settings.image != blank }}",
            "type": "checkbox",
            "id": "border",
            "label": "Border"
          },
          {
            "type": "header",
            "content": "Caption"
          },
          {
            "type": "richtext",
            "id": "caption",
            "label": "Caption"
          },
          {
            "visible_if": "{{ block.settings.caption != blank }}",
            "type": "select",
            "id": "caption_position",
            "label": "Position",
            "options": [
              {"value": "bottom","label": "Bottom"},
              {"value": "right","label": "Right"}
            ],
            "default": "bottom"
          },
          {
            "visible_if": "{{ block.settings.caption != blank }}",
            "type": "select",
            "id": "caption_style",
            "label": "Style",
            "options": [
              {"value": "normal","label": "Body"},
              {"value": "heading-font","label": "Heading"},
              {"value": "subheading","label": "Subheading"},
              {"value": "small-label","label": "Small label"}
            ],
            "default": "normal"
          },
          {
            "visible_if": "{{ block.settings.caption != blank }}",
            "type": "range",
            "id": "caption_size",
            "min": 1,
            "max": 5,
            "step": 1,
            "unit": "p",
            "label": "Size",
            "default": 4
          },
          {
            "visible_if": "{{ block.settings.caption != blank }}",
            "type": "range",
            "id": "caption_spacing",
            "min": 0,
            "max": 5,
            "step": 0.2,
            "unit": "rem",
            "label": "Spacing (Desktop)",
            "default": 1
          },
          {
            "visible_if": "{{ block.settings.caption != blank }}",
            "type": "range",
            "id": "caption_spacing_mobile",
            "min": 0,
            "max": 5,
            "step": 0.2,
            "unit": "rem",
            "label": "Spacing (Mobile)",
            "default": 1
          }
        ]
      },
      {
        "type": "content_video",
        "name": "Video",
        "settings": [
          {
            "type": "video",
            "id": "video_mp4",
            "label": "Video (MP4)"
          },
          {
            "type": "video_url",
            "id": "video_iframe",
            "label": "Video (Youtube/Vimeo)",
            "accept": ["youtube", "vimeo"]
          },
          {
            "type": "select",
            "id": "video_orientation",
            "label": "Video orientation",
            "options": [
              {"value": "landscape", "label": "Landscape/Horizontal"},
              {"value": "square", "label": "Square"},
              {"value": "portrait", "label": "Portrait/Vertical"}
            ],
            "default": "landscape"
          },
          {
            "type": "range",
            "id": "width",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Width (Desktop)",
            "default": 50
          },
          {
            "type": "range",
            "id": "width_mobile",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Width (Mobile)",
            "default": 100
          },
          {
            "type": "range",
            "id": "border_radius",
            "min": 0,
            "max": 10,
            "step": 0.2,
            "unit": "em",
            "label": "Border radius",
            "default": 0
          },
          {
            "type": "checkbox",
            "id": "border",
            "label": "Border"
          },
          {
            "type": "header",
            "content": "Caption"
          },
          {
            "type": "richtext",
            "id": "caption",
            "label": "Caption"
          },
          {
            "visible_if": "{{ block.settings.caption != blank }}",
            "type": "select",
            "id": "caption_style",
            "label": "Style",
            "options": [
              {"value": "normal","label": "Body"},
              {"value": "heading-font","label": "Heading"},
              {"value": "subheading","label": "Subheading"},
              {"value": "small-label","label": "Small label"}
            ],
            "default": "normal"
          },
          {
            "visible_if": "{{ block.settings.caption != blank }}",
            "type": "range",
            "id": "caption_size",
            "min": 1,
            "max": 5,
            "step": 1,
            "unit": "p",
            "label": "Size",
            "default": 4
          },
          {
            "visible_if": "{{ block.settings.caption != blank }}",
            "type": "range",
            "id": "caption_spacing",
            "min": 0,
            "max": 5,
            "step": 0.2,
            "unit": "rem",
            "label": "Spacing (Desktop)",
            "default": 1
          },
          {
            "visible_if": "{{ block.settings.caption != blank }}",
            "type": "range",
            "id": "caption_spacing_mobile",
            "min": 0,
            "max": 5,
            "step": 0.2,
            "unit": "rem",
            "label": "Spacing (Mobile)",
            "default": 1
          }
        ]
      },
      {
        "type": "newsletter_form",
        "name": "Newsletter form",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Success"
          },
          {
            "type": "richtext",
            "id": "success_message",
            "label": "Success",
            "default": "<p>Thanks for subscribing!</p>"
          },
          {
            "type": "header",
            "content": "Submit CTA"
          },
          {
            "type": "select",
            "id": "submit_style",
            "label": "Style",
            "options": [
              {"value": "btn","label": "Button"},
              {"value": "arrow","label": "Arrow"}
            ],
            "default": "btn"
          },
          {
            "type": "text",
            "id": "submit_label",
            "label": "Label",
            "default": "Subscribe"
          },
          {
            "type": "header",
            "content": "Legal footnote"
          },
          {
            "type": "richtext",
            "id": "legal",
            "label": "Legal footnote"
          }
        ]
      },

      {
        "type": "countdown",
        "name": "Countdown",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "Block disabled when the Date is empty (useful for dynamic source)."
          },
          {
            "type": "text",
            "id": "date",
            "label": "Date (count down from)",
            "default": "Jan 1, 2024 00:00:01",
            "info": "For the countdown. Format: Jan 1, 2023 00:00:01."
          },
          {
            "type": "text",
            "id": "timezone",
            "label": "Timezone",
            "default": "-5",
            "info": "Write -4 for EDT (summer time). Write -5 for EST (winter time)."
          }, 
          {
            "type": "richtext",
            "id": "text_while_countdown",
            "label": "Text before time is up",
            "info": "Show this text while the countdown is active."
          }, 
          {
            "type": "richtext",
            "id": "default",
            "label": "Show when time is up",
            "default": "<p>Time is up! You can always subscribe to our newsletter to get first dibs on our deals.</p>",
            "info": "This text is displayed instead of the countdown when the time is up."
          },
          {
            "type": "header",
            "content": "Styles"
          },
          {
            "type": "checkbox",
            "id": "show_days",
            "label": "Show 'days' module",
            "default": true
          },
          {
            "type": "select",
            "id": "numbers_text_style",
            "label": "Numbers text style",
            "options": [
              {"value": "normal","label": "Body"},
              {"value": "heading-font","label": "Heading"}
            ],
            "default": "normal"
          },
          {
            "type": "select",
            "id": "size",
            "label": "Size",
            "options": [
              {"value": "small","label": "Small"},
              {"value": "medium","label": "Medium"},
              {"value": "large","label": "Large"}
            ],
            "default": "small"
          },
          {
            "type": "header",
            "content": "Colors"
          },
          {
            "type": "color",
            "id": "background_color",
            "label": "Background color",
            "alpha": true,
            "default": "#ffffff99"
          },
          {
            "type": "color",
            "id": "border_color",
            "label": "Border color",
            "alpha": true,
            "default": "#ffffff33"
          },
          {
            "type": "color",
            "id": "label_color",
            "label": "Numbers color",
            "default": "#000000"
          },
          {
            "type": "color",
            "id": "extras_color",
            "label": "Extras color",
            "alpha": true,
            "default": "#ffffff66"
          }
        ]
      },

      {
        "type": "separator",
        "name": "Separator",
        "settings": [
          {
            "type": "checkbox",
            "id": "border",
            "label": "Border",
            "default": true
          },
          {
            "type": "range",
            "id": "padding",
            "min": 0,
            "max": 20,
            "step": 0.5,
            "unit": "rem",
            "label": "Padding (Desktop)",
            "default": 2.5
          },
          {
            "type": "range",
            "id": "padding_mobile",
            "min": 0,
            "max": 20,
            "step": 0.5,
            "unit": "rem",
            "label": "Padding (Mobile)",
            "default": 2.5
          }
        ]
      },
      {
        "type": "content_liquid",
        "name": "Liquid code",
        "settings": [
          {
            "type": "liquid",
            "id": "liquid",
            "label": "Liquid code"
          }
        ]
      }
    ]
  }
{% endschema %}