{%- assign collection = collections[section.settings.collection_handle] | default: section.settings.collection -%}

{% assign title = section.settings.title | default: collection.title %}

{%- assign count = 0 -%}

{%- capture itemsHtml -%}
  {%- for product in section.settings.custom_products -%}
  {%- assign count = count | plus: 1 -%}
  <div class="keen-slider-slide">
    {%- render 'product_card_atc', productCard: product -%}
  </div>
  {%- endfor -%}
  {%- for product in collection.products limit:10 -%}
  {%- assign count = count | plus: 1 -%}
  <div class="keen-slider-slide">
    {%- render 'product_card_atc', productCard: product -%}
  </div>
  {%- endfor -%}
{%- endcapture -%}

{%- if count > 0 -%}
  {%- render 'section_multi_item_structure', section: section, cardType: 'product', itemsHtml: itemsHtml, title: title, count: count -%}
{%- endif -%}

{% schema %}
  {
    "name": "Featured Products",
    "class": "type-featured-products",
    "tag": "section",
    "presets": [
      {
        "name": "Featured Products"
      }
    ],
    "settings": [
      {
        "type": "header",
        "content": "Products source"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "text",
        "id": "collection_handle",
        "label": "Collection Handle",
        "info": "Useful for dynamic source. For example on PDPs to indicate a related collection. Only works if a specific collection is not already selected in the previous field."
      },
      {
        "type": "product_list",
        "id": "custom_products",
        "label": "Specific Products",
        "info": "Useful for dynamic source, or manually picking the products to include without the need of a collection. Can be combined with products from the collection defined above."
      },
      {
        "type": "header",
        "content": "Head"
      },
      {
        "type": "text",
        "id": "eyebrow",
        "label": "Eyebrow"
      },
      {
        "visible_if": "{{ section.settings.eyebrow != blank }}",
        "type": "range",
        "id": "eyebrow_size",
        "min": 1,
        "max": 5,
        "step": 1,
        "unit": "p",
        "label": "Eyebrow size",
        "default": 3
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Featured Products",
        "info": "Leave blank to use the Collection's title"
      },
      {
        "visible_if": "{{ section.settings.title != blank }}",
        "type": "checkbox",
        "id": "is_h1",
        "label": "This is the first title of the page (H1)"
      },
      {
        "visible_if": "{{ section.settings.title != blank }}",
        "type": "range",
        "id": "title_size",
        "min": -1,
        "max": 6,
        "step": 1,
        "unit": "h",
        "label": "Title size",
        "default": 1,
        "info": "Equivalent to the heading tags."
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      },
      {
        "visible_if": "{{ section.settings.text != blank }}",
        "type": "range",
        "id": "text_size",
        "min": 1,
        "max": 5,
        "step": 1,
        "unit": "p",
        "label": "Text size",
        "default": 3
      },
      {
        "visible_if": "{{ section.settings.text != blank }}",
        "type": "range",
        "id": "text_width",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "em",
        "label": "Text Width",
        "default": 40
      },
      {
        "type": "text",
        "id": "button",
        "label": "Button"
      },
      {
        "visible_if": "{{ section.settings.button != blank }}",
        "type": "url",
        "id": "link",
        "label": "Button link"
      },
      {
        "visible_if": "{{ section.settings.button != blank }}",
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "options": [
            {"value": "link", "label": "Link"},
            {"value": "btn", "label": "Button"},
            {"value": "btn v2", "label": "Button V2"}
        ],
        "default": "btn"
      },
      {
        "visible_if": "{{ section.settings.button != blank }}",
        "type": "select",
        "id": "button_position",
        "label": "Button position",
        "options": [
          {"value": "top","label": "Top"},
          {"value": "bottom","label": "Bottom"},
          {"value": "right","label": "Right"}
        ],
        "default": "top"
      },
      {
        "type": "header",
        "content": "Layout (Grid/Carousel)"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "options": [
          {"value": "carousel","label": "Carousel"},
          {"value": "grid","label": "Grid"}
        ],
        "default": "carousel"
      },
      {
        "visible_if": "{{ section.settings.layout == 'grid' }}",
        "type": "radio",
        "id": "grid_collapsible",
        "label": "Show 'View All' button in grid mode",
        "options": [
          {"value": "desktop","label": "Desktop only"},
          {"value": "mobile","label": "Mobile only"},
          {"value": "desktop_mobile","label": "Desktop and mobile"},
          {"value": "none", "label": "No"}
        ],
        "default": "none"
      },
      {
        "visible_if": "{{ section.settings.layout == 'carousel' }}",
        "type": "checkbox",
        "id": "show_dots",
        "label": "Show Dots",
        "default": true
      },
      {
        "visible_if": "{{ section.settings.layout == 'carousel' }}",
        "type": "checkbox",
        "id": "show_arrows",
        "label": "Show Arrows",
        "default": true
      },
      {
        "visible_if": "{{ section.settings.layout == 'carousel' and section.settings.show_arrows == true }}",
        "type": "select",
        "id": "arrows_position",
        "label": "Arrows",
        "options": [
          {"value": "sides","label": "Sides"},
          {"value": "top","label": "Top"}
        ],
        "default": "top"
      },
      {
        "type": "select",
        "id": "carousel_width",
        "label": "Width (Desktop)",
        "options": [
          {"value": "full","label": "Full"},
          {"value": "container","label": "Container"},          
          {"value": "left","label": "Left container"}
        ],
        "default": "container"
      },
      {
        "type": "select",
        "id": "carousel_width_mobile",
        "label": "Width (Tablet/Mobile)",
        "options": [
          {"value": "full","label": "Full"},          
          {"value": "left","label": "Left container"}
        ],
        "default": "left"
      },
      {
        "visible_if": "{{ section.settings.layout == 'carousel' }}",
        "type": "range",
        "id": "carousel_autoplay",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "s",
        "label": "Autoplay interval",
        "default": 0,
        "info": "0 = off"
      },
      {
        "visible_if": "{{ section.settings.layout == 'carousel' }}",
        "type": "range",
        "id": "carousel_automove",
        "min": 0,
        "max": 3,
        "step": 0.1,
        "unit": "%",
        "label": "Automove speed",
        "default": 0,
        "info": "0 = off"
      },
      {
        "type": "header",
        "content": "Items per view"
      },
      {
        "type": "paragraph",
        "content": "If the layout is set to Carousel, it indicates the items per slider page (allows decimals). If it's set to Grid, it indicates the items per row (decimals will be rounded down)."
      },
      {
        "type": "range",
        "id": "items_per_view_desktop",
        "min": 0,
        "max": 9,
        "step": 0.1,
        "unit": "un",
        "label": "Items per view (Desktop)",
        "default": 4
      },
      {
        "type": "range",
        "id": "items_per_view_tablet",
        "min": 0,
        "max": 6,
        "step": 0.1,
        "unit": "un",
        "label": "Items per view (Tablet)",
        "default": 2.4
      },
      {
        "type": "range",
        "id": "items_per_view_mobile",
        "min": 0,
        "max": 5,
        "step": 0.1,
        "unit": "un",
        "label": "Items per view (Mobile)",
        "default": 1.4
      },

      {
        "type": "header",
        "content": "Section settings"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full width",
        "default": true
      },
      {
        "type": "select",
        "id": "head_position",
        "label": "Header position (Desktop)",
        "options": [
          {"value": "top","label": "Top"},
          {"value": "left","label": "Left"}
        ],
        "default": "top"
      },
      {
        "visible_if": "{{ section.settings.head_position == 'left' }}",
        "type": "range",
        "id": "head_width",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "%",
        "label": "Header width (Desktop)",
        "default": 20,
        "info": "When the head is on the left."
      },
      {
        "type": "range",
        "id": "items_spacing_desktop",
        "min": 0,
        "max": 500,
        "step": 50,
        "unit": "%",
        "label": "Items spacing (Desktop)",
        "default": 100
      },
      {
        "type": "range",
        "id": "items_spacing_mobile",
        "min": 0,
        "max": 500,
        "step": 50,
        "unit": "%",
        "label": "Items spacing (Mobile)",
        "default": 100
      },
      {
        "type": "select",
        "id": "text_align",
        "label": "Text Align (title, text, button, dots) (Desktop)",
        "options": [
          {"value": "left","label": "Left"},
          {"value": "center","label": "Center"},
          {"value": "right","label": "Right"}
        ],
        "default": "left"
      },
      {
        "type": "select",
        "id": "text_align_mobile",
        "label": "Text Align (title, text, button, dots) (Mobile)",
        "options": [
          {"value": "left","label": "Left"},
          {"value": "center","label": "Center"},
          {"value": "right","label": "Right"}
        ],
        "default": "left"
      },
      {
        "type": "color_scheme",
        "id": "section_color_scheme",
        "label": "Section color scheme",
        "default": "scheme-1"
      },
      {
        "type": "color_scheme",
        "id": "content_color_scheme",
        "label": "Content color scheme",
        "default": "scheme-1"
      },
      {
        "type": "color_scheme",
        "id": "cards_color_scheme",
        "label": "Cards color scheme",
        "default": "scheme-1"
      },
      {
        "type": "range",
        "id": "border_radius",
        "min": 0,
        "max": 10,
        "step": 0.2,
        "unit": "em",
        "label": "Border radius",
        "default": 0
      },
      {
        "type": "header",
        "content": "Padding Desktop"
      },
      {
        "type": "range",
        "id": "text_padding",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "Inner padding (Desktop)",
        "default": 100
      },
      {
        "type": "range",
        "id": "section_padding_top",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "Outer padding top (Desktop)",
        "default": 0
      },
      {
        "type": "range",
        "id": "section_padding_bottom",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "Outer padding bottom (Desktop)",
        "default": 0
      },
      {
        "type": "header",
        "content": "Padding Mobile"
      },
      {
        "type": "range",
        "id": "text_padding_mobile",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "Inner padding (Mobile)",
        "default": 100
      },
      {
        "type": "range",
        "id": "section_padding_top_mobile",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "Outer padding top (Mobile)",
        "default": 0
      },
      {
        "type": "range",
        "id": "section_padding_bottom_mobile",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "Outer padding bottom (Mobile)",
        "default": 0
      }
    ]
  }
{% endschema %}