{{ 'customer_forms.css' | asset_url | stylesheet_tag }}
{%- render 'customer_forms_js_inc' -%}
<div class="customer-form-page text-center scheme color-{{settings.customer_portal_color_scheme}}">
  <div class="container">
    <div id="customer-reset-password">
      <h1>{{ 'account.reset_password.title' | t }}</h1>
      <p>{{ 'account.reset_password.text' | t }} {{ customer.email }}</p>
      {%- form 'reset_customer_password' -%}
        {{ form.errors | default_errors }}
        <p class="error-msg"></p>
        <div class="field required">
          <input type="password" placeholder="{{ 'account.reset_password.label_password' | t | escape }}" name="customer[password]" id="customer-password" class="password required" aria-required="true" />
          <label for="customer-password">{{ 'account.reset_password.label_password' | t }}</label>
        </div>
        <div class="field required">
          <input type="password" placeholder="{{ 'account.reset_password.label_confirm_password' | t | escape }}" name="customer[password_confirmation]" id="customer-confirm-password" class="password-confirm required" aria-required="true" />
          <label for="customer-confirm-password">{{ 'account.reset_password.label_confirm_password' | t }}</label>
        </div>
        <button type="submit" class="btn">{{ 'account.reset_password.accept_button' | t }}</button>
      {%- endform -%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Reset Password",
    "class": "type-reset-password"
  }
{% endschema %}